:root {
  --rodape-height: 4vh;
  --parts-height: calc(50vh - (var(--rodape-height) / 2));
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h3 {
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.4);
}

.paint, .floor {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paint, .floor {
  height: var(--parts-height);
}

.baseboard {
  height: var(--rodape-height);
  width: 100vw;
}

.baseboard-top {
  height: calc(var(--rodape-height) / 3);
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
  width: 100vw;
}

.baseboard-bottom {
  height: calc((var(--rodape-height) / 3) * 2);
  width: 100vw;
}

.floor {
  background-repeat: repeat-x;
}
